* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    padding: 0 !important;
}
/* 
ul,
li {
  list-style: none;
} */

body {
    font-family: "Raleway", sans-serif;
}

main {
    min-height: 480px;
}

.bold {
    font-weight: bold;
    letter-spacing: 2px;
}

.branding {
    text-align: center;
}

.bio-image img {
    width: 90%;
}

.card.card-special {
    border-radius: 20px;
}

footer {
    height: 7rem;
    padding: 2rem 0px;
    background-color: rgb(48, 48, 48);
}

footer h6,
footer i {
    color: white !important;
}

footer i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.footer-text {
    text-align: center;
}

@media (min-width: 992px) {
    .branding {
        margin-top: 140px;
        text-align: left;
    }

    footer {
        height: 5rem;
    }

    .footer-text {
        text-align: left;
    }
}

/* BLOG */

.jumbotron-fluid {
    background-image: url("../img/post/header/blog-header2.jpg");
    background-position-y: -200px;
    min-height: 23rem;
    filter: opacity(90%);
}

.list-group li {
    cursor: pointer;
}

.list-group span {
    position: relative;
    display: inline-block;
    text-align: right;
    right: 0;
}

.blog-detail {
    overflow: hidden;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-detail.content {
    padding: 50px 30px;
}

.card.direct-content .card-body {
    padding: 7px;
}

.direct-content p {
    margin-bottom: 5px;
}
